In [1]:
!pip install git+https://github.com/dpguthrie/yahooquery.git

Collecting git+https://github.com/dpguthrie/yahooquery.git
  Cloning https://github.com/dpguthrie/yahooquery.git to /tmp/pip-req-build-swi5xcz7
  Running command git clone -q https://github.com/dpguthrie/yahooquery.git /tmp/pip-req-build-swi5xcz7
Requirement already satisfied: lxml==4.5.0 in /home/rodrigo/anaconda3/lib/python3.7/site-packages (from yahooquery==2.2.4) (4.5.0)
Requirement already satisfied: pandas>=0.24 in /home/rodrigo/anaconda3/lib/python3.7/site-packages (from yahooquery==2.2.4) (1.0.1)
Requirement already satisfied: requests-futures==1.0.0 in /home/rodrigo/anaconda3/lib/python3.7/site-packages (from yahooquery==2.2.4) (1.0.0)
Requirement already satisfied: selenium==3.141.0 in /home/rodrigo/anaconda3/lib/python3.7/site-packages (from yahooquery==2.2.4) (3.141.0)
Requirement already satisfied: pytz>=2017.2 in /home/rodrigo/anaconda3/lib/python3.7/site-packages (from pandas>=0.24->yahooquery==2.2.4) (2019.3)
Requirement already satisfied: python-dateutil>=2.6.1 in /home/rodrigo/anaconda3/lib/python3.7/site-packages (from pandas>=0.24->yahooquery==2.2.4) (2.8.1)
Requirement already satisfied: numpy>=1.13.3 in /home/rodrigo/anaconda3/lib/python3.7/site-packages (from pandas>=0.24->yahooquery==2.2.4) (1.18.1)
Requirement already satisfied: requests>=1.2.0 in /home/rodrigo/anaconda3/lib/python3.7/site-packages (from requests-futures==1.0.0->yahooquery==2.2.4) (2.22.0)
Requirement already satisfied: urllib3 in /home/rodrigo/anaconda3/lib/python3.7/site-packages (from selenium==3.141.0->yahooquery==2.2.4) (1.25.8)
Requirement already satisfied: six>=1.5 in /home/rodrigo/anaconda3/lib/python3.7/site-packages (from python-dateutil>=2.6.1->pandas>=0.24->yahooquery==2.2.4) (1.14.0)
Requirement already satisfied: certifi>=2017.4.17 in /home/rodrigo/anaconda3/lib/python3.7/site-packages (from requests>=1.2.0->requests-futures==1.0.0->yahooquery==2.2.4) (2019.11.28)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /home/rodrigo/anaconda3/lib/python3.7/site-packages (from requests>=1.2.0->requests-futures==1.0.0->yahooquery==2.2.4) (3.0.4)
Requirement already satisfied: idna<2.9,>=2.5 in /home/rodrigo/anaconda3/lib/python3.7/site-packages (from requests>=1.2.0->requests-futures==1.0.0->yahooquery==2.2.4) (2.8)
Building wheels for collected packages: yahooquery
  Building wheel for yahooquery (setup.py) ... done
  Created wheel for yahooquery: filename=yahooquery-2.2.4-py3-none-any.whl size=45988 sha256=56fad9db1c339369005699b56b3b438cb04688ace02c6cc6c4a5cd9703e500d9
  Stored in directory: /tmp/pip-ephem-wheel-cache-dy2ko8b8/wheels/16/cb/78/28d61d2a39f8935584b4dccd456b3f70aafbfee09c917fc05c
Successfully built yahooquery
Installing collected packages: yahooquery
Successfully installed yahooquery-2.2.4

In [2]:
from yahooquery import Ticker
petr = Ticker("PETR4.SA")

In [3]:
petr.history(period='max')

,low,close,open,high,volume,adjclose,dividends,splits
2000-01-03 12:00:00,5.875000,5.875000,5.875000,5.875000,3.538944e+10,4.050183,0.0,0.0
2000-01-04 12:00:00,5.550000,5.550000,5.550000,5.550000,2.886144e+10,3.826131,0.0,0.0
2000-01-05 12:00:00,5.494000,5.494000,5.494000,5.494000,4.303360e+10,3.787526,0.0,0.0
2000-01-06 12:00:00,5.475000,5.475000,5.475000,5.475000,3.405568e+10,3.774427,0.0,0.0
2000-01-07 12:00:00,5.500000,5.500000,5.500000,5.500000,2.091264e+10,3.791661,0.0,0.0
...,...,...,...,...,...,...,...,...
2020-06-25 13:00:00,20.730000,21.469999,20.910000,21.469999,4.726350e+07,21.469999,0.0,0.0
2020-06-26 13:00:00,20.780001,20.840000,21.209999,21.469999,5.549930e+07,20.840000,0.0,0.0
2020-06-29 13:00:00,20.930000,21.660000,21.100000,21.660000,5.980960e+07,21.660000,0.0,0.0
2020-06-30 13:00:00,21.090000,21.549999,21.340000,21.799999,6.501060e+07,21.549999,0.0,0.0
2020-07-01 13:57:58,21.740000,22.080000,21.750000,22.180000,1.353410e+07,22.080000,0.0,0.0

In [4]:
petr.history(start='2005-05-01', end='2013-12-31')

,volume,open,low,high,close,adjclose,dividends,splits
2005-05-02 13:00:00,19004800.0,11.811200,11.475000,11.811200,11.775000,8.541433,0.0,0.0
2005-05-03 13:00:00,22736000.0,11.775000,11.568800,11.825000,11.727500,8.506978,0.0,0.0
2005-05-04 13:00:00,27260800.0,11.750000,11.750000,11.971200,11.903800,8.634863,0.0,0.0
2005-05-05 13:00:00,31670400.0,12.000000,11.925000,12.125000,12.125000,8.795320,0.0,0.0
2005-05-06 13:00:00,29177600.0,12.188800,12.187500,12.475000,12.341300,8.952221,0.0,0.0
...,...,...,...,...,...,...,...,...
2013-12-20 12:00:00,26875500.0,17.250000,16.799999,17.290001,16.910000,14.712623,0.0,0.0
2013-12-23 12:00:00,11520400.0,17.020000,16.870001,17.170000,17.059999,14.843129,0.0,0.0
2013-12-26 12:00:00,15294800.0,17.150000,16.889999,17.190001,16.920000,14.721321,0.0,0.0
2013-12-27 12:00:00,15114200.0,17.000000,16.820000,17.020000,16.930000,14.730024,0.0,0.0
2013-12-30 12:00:00,10598500.0,16.950001,16.950001,17.250000,17.080000,14.860531,0.0,0.0

In [15]:
abev = Ticker('ABEV3.SA')
abev.history(period='60d',  interval = "30m")

                      open  close   volume    low   high
2020-04-03 13:00:00  11.94  11.75   697300  11.72  11.94
2020-04-03 13:30:00  11.69  11.52  1381000  11.50  11.80
2020-04-03 14:00:00  11.51  11.42  3739800  11.40  11.61
2020-04-03 14:30:00  11.42  11.39  1658000  11.31  11.43
2020-04-03 15:00:00  11.38  11.28  1299500  11.27  11.42
...                    ...    ...      ...    ...    ...
2020-06-30 19:00:00  14.24  14.18  1374200  14.11  14.24
2020-06-30 19:30:00  14.18  14.28  2202600  14.15  14.30
2020-07-01 13:00:00  14.26  14.35   722000  14.26  14.44
2020-07-01 13:30:00  14.35  14.47  3082500  14.24  14.50
2020-07-01 13:59:30  14.48  14.48        0  14.48  14.48

[829 rows x 5 columns]

In [0]:
len(set(list(petr.index.date)))

60

In [16]:
abev = abev.history(period='7d',  interval = "1m")
abev

                      open  close   high    volume    low
2020-06-23 13:10:00  14.26  14.23  14.32       0.0  14.23
2020-06-23 13:11:00  14.23  14.23  14.25   64200.0  14.21
2020-06-23 13:12:00  14.22  14.19  14.23   93700.0  14.18
2020-06-23 13:13:00  14.19  14.18  14.19   24300.0  14.16
2020-06-23 13:14:00  14.18  14.18  14.18    4400.0  14.16
...                    ...    ...    ...       ...    ...
2020-07-01 13:56:00  14.42  14.43  14.43   71900.0  14.40
2020-07-01 13:57:00  14.41  14.44  14.44  107600.0  14.41
2020-07-01 13:58:00  14.43  14.47  14.50  179700.0  14.42
2020-07-01 13:59:00  14.43  14.47  14.50  179700.0  14.42
2020-07-01 13:59:21  14.47  14.47  14.47       0.0  14.47

[2571 rows x 5 columns]

In [17]:
len(set(list(abev.index.date)))

7

## Informações financeiras

In [18]:
petr = Ticker("PETR4.SA")     # Coleta dados
petr.income_statement()       # Chama função de Demonstração de resultados
petr = petr.income_statement().transpose() # Transpõe a matriz
petr.columns = petr.iloc[0,:] # Renomeia colunas
petr = petr.iloc[2:,:-1]         # Seleciona dados
petr = petr.iloc[:, ::-1]    # Inverte colunas
petr

asOfDate,2019-12-31,2018-12-31,2017-12-31,2016-12-31
BasicAverageShares,1.30445e+10,1.30445e+10,1.30445e+10,1.30445e+10
BasicEPS,0.78,0.55,-0.01,-0.370884
CostOfRevenue,4.5732e+10,6.1517e+10,6.0147e+10,5.5417e+10
DepreciationAmortizationDepletionIncomeStatement,1.58e+08,NaN,NaN,NaN
DilutedAverageShares,1.30445e+10,1.30445e+10,1.30445e+10,1.30445e+10
DilutedEPS,0.78,0.55,-0.01,-0.370884
DilutedNIAvailtoComStockholders,1.0151e+10,7.173e+09,-9.1e+07,-4.838e+09
EBIT,1.8687e+10,1.6304e+10,7.409e+09,2.37e+09
EBITDA,NaN,NaN,NaN,NaN
EarningsFromEquityInterest,1.53e+08,5.23e+08,6.73e+08,-2.18e+08
ExciseTaxes,NaN,NaN,NaN,2.149e+10
GainOnSaleOfPPE,6.046e+09,4.19e+08,1.498e+09,2.93e+08
GainOnSaleOfSecurity,-2.82e+09,-3.63e+09,-3.523e+09,-3.358e+09
GeneralAndAdministrativeExpense,5.682e+09,5.288e+09,5.074e+09,6.308e+09
GrossProfit,3.0857e+10,3.4067e+10,2.868e+10,2.5988e+10
ImpairmentOfCapitalAssets,2.848e+09,2.005e+09,1.191e+09,6.193e+09
InterestExpense,6.684e+09,4.206e+09,5.412e+09,6.035e+09
InterestExpenseNonOperating,6.684e+09,4.206e+09,5.412e+09,6.035e+09
InterestIncome,5e+06,5.63e+08,6.04e+08,5.52e+08
InterestIncomeNonOperating,5e+06,5.63e+08,6.04e+08,5.52e+08
MinorityInterests,-2.12e+08,-2.41e+08,-2.6e+08,-4.89e+08
NetIncome,1.0151e+10,7.173e+09,-9.1e+07,-4.838e+09
NetIncomeCommonStockholders,1.0151e+10,7.173e+09,-9.1e+07,-4.838e+09
NetIncomeContinuousOperations,7.803e+09,7.414e+09,1.69e+08,-4.349e+09
NetIncomeDiscontinuousOperations,2.56e+09,8.43e+08,NaN,NaN
NetIncomeFromContinuingAndDiscontinuedOperation,1.0151e+10,7.173e+09,-9.1e+07,-4.838e+09
NetIncomeFromContinuingOperationNetMinorityInterest,7.591e+09,7.173e+09,-9.1e+07,-4.838e+09
NetIncomeIncludingNoncontrollingInterests,1.0363e+10,7.414e+09,1.69e+08,-4.349e+09
NetInterestIncome,-6.314e+09,-2.636e+09,-6.192e+09,-5.854e+09
NetNonOperatingInterestIncomeExpense,-6.314e+09,-2.636e+09,-6.192e+09,-5.854e+09
NormalizedEBITDA,3.3145e+10,3.5647e+10,2.5262e+10,2.7657e+10
NormalizedIncome,7.3453e+09,1.16571e+10,2.90936e+09,4.36679e+09
OperatingExpense,1.2355e+10,1.2541e+10,1.6618e+10,1.2259e+10
OperatingIncome,1.8502e+10,2.1526e+10,1.2062e+10,1.3729e+10
OperatingRevenue,7.6589e+10,9.5584e+10,8.8827e+10,1.02895e+11
OtherGandA,2.239e+09,2.678e+09,3.176e+09,3.572e+09
OtherIncomeExpense,-1.85e+08,-6.792e+09,-3.873e+09,-1.154e+10
OtherNonOperatingIncomeExpenses,-7.16e+08,-2.043e+09,NaN,NaN
OtherOperatingExpenses,8.44e+08,1.228e+09,4.591e+09,7.51e+08
OtherSpecialCharges,1.52e+09,2.04e+09,8.98e+08,1.393e+09
OtherTaxes,6.19e+08,7.52e+08,1.843e+09,7.14e+08
PretaxIncome,1.2003e+10,1.2098e+10,1.997e+09,-3.665e+09
ProvisionForDoubtfulAccounts,NaN,0,NaN,NaN
ReconciledCostOfRevenue,3.1054e+10,6.1517e+10,6.0147e+10,5.5417e+10
ReconciledDepreciation,1.4836e+10,1.2028e+10,1.3307e+10,1.3965e+10
ResearchAndDevelopment,5.76e+08,6.42e+08,5.72e+08,5.23e+08
SalariesAndWages,3.443e+09,2.61e+09,1.898e+09,2.736e+09
SellingAndMarketingExpense,4.476e+09,4.631e+09,4.538e+09,3.963e+09
SellingGeneralAndAdministration,1.0158e+10,9.919e+09,9.612e+09,1.0271e+10
SpecialIncomeCharges,3.198e+09,-3.685e+09,-1.023e+09,-7.964e+09
TaxEffectOfUnusualItems,1.323e+08,-2.83090e+09,-1.54564e+09,-2.11721e+09
TaxProvision,4.2e+09,4.684e+09,1.828e+09,6.84e+08
TaxRateForCalcs,0.35,0.387,0.34,0.187
TotalExpenses,5.8087e+10,7.4058e+10,7.6765e+10,6.7676e+10
TotalOperatingIncomeAsReported,2.0614e+10,NaN,NaN,NaN
TotalOtherFinanceCost,-3.65e+08,-1.007e+09,1.384e+09,3.71e+08
TotalRevenue,7.6589e+10,9.5584e+10,8.8827e+10,8.1405e+10
TotalUnusualItems,3.78e+08,-7.315e+09,-4.546e+09,-1.1322e+10
TotalUnusualItemsExcludingGoodwill,3.78e+08,-7.315e+09,-4.546e+09,-1.1322e+10
WriteOff,6.046e+09,5.9e+07,4.32e+08,6.71e+08